.header {
    width: auto;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 20px;
    width: 20px;
}
.menu-item {
    display:flex;
}